* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}

#screen-container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    width: 100vw;
    background-color: rgb(15,42,69);
    color: #333;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    border: 2px solid black;
}

/* ------- Content --------*/

header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.header-welcome {
    align-items: center;
    display: flex;
    gap: 22px;
}

/* -------- Signup --------*/
.signup-login-btn {
    display: flex;
    flex-direction: column;
    border: 2px solid;
}

#signup-btn, #auth-button {
    margin-left: 6%;
    background-color: rgb(7, 24, 41);
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.signup-form, .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.signup-form h2, .login-form h2 {
    margin-top: 4%;
    padding-bottom: 4%;
}

.signup-form input, .login-form input {
    height: 25px;
    width: 100%;
    color: black;
}

#signup-form, #login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#signup-submit-btn, #login-submit-btn {
    height: 30px;
    border: none;
    color: white;
    background-color: rgb(7, 24, 41);
    border-radius: 5px;
}


/* -------- Tabs -------- */
.tabs {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.tabs button { /* Buttons */
    background-color: rgb(7, 24, 41);
    border: none;
    width: 30%;
    height: 30px;
    border-radius: 10px;
}

.tab-container {
    margin-top: 5%;
    border: 1px solid;
    height: 90%
}

/* ----- Stardew Valley items ----- */
.category {
    display: flex;
    flex-direction: column;
}

.category h2 {
    margin-top: 20px;
}